.mainComponent {
    width: 1440px;
    height: 900px;
    display: flex;
    margin: auto;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.leftMenu {
    width: 7%;
    height: 822px;
    background: #fff;
    padding-top: 77px;

}

.leftMenu>div:nth-child(1) {
    width: 62px;
    height: 62px;
    margin: auto;
}

.leftMenu>div:nth-child(2) {
    width: 62px;
    height: 62px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.rightMenu {
    width: 93%;
    padding: 77px 30px 20px 30px;
}

.rightMenu-top-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightMenu-top-div>div:nth-child(2) {
    width: 184px;
    height: 40px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.3799999952316284px;
}

.timeline {
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;

}

.timeline span:nth-child(1) {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.3799999952316284px;
    margin-left: 20px;
}

.timeline span:nth-child(2) {
    margin-left: 10px;
}

.search-div {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.search-div div:nth-child(2) {
    width: 95%;
}

.nosubmit {
    border: 1px solid #00000040;
    border-radius: 5px;
    width: 100%;
    padding: 10px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    background-color: #fff;
}

.data-div {
    background: #fff;
    margin-top: 20px;
}

table>tr>th:nth-child(1) {
    padding-right: 50px;
}

table>tr>th:nth-child(2) {
    padding: 10px 50px 10px 50px;
    font-size: 14px;
    font-weight: 700;
}

table>tr>th:nth-child(3) {
    padding: 10px 80px 10px 80px;
    font-size: 14px;
    font-weight: 700;
}

table>tr>th:nth-child(4) {
    padding: 10px 100px 10px 100px;
    font-size: 14px;
    font-weight: 700;
}

.name {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.23999999463558197px;
    color: #818099;
}

.price {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.23999999463558197px;
}

.category {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.23999999463558197px;
}